<tr id="<%= dom_id article %>">
  <td><%= article.title %></td>
  <td><%= article.category.name %></td>
  <td><%= image_tag article.image_url,style: 'height:100%;width:100px;' if article.image %></td>
  <td><%= link_to 'Show', admin_article_path(article) %></td>
  <td><%= link_to 'Edit', edit_admin_article_path(article) %></td>
  <td><%= link_to 'Destroy', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>